<!DOCTYPE html>
<html>
<head>
    <title>Wine Cultivar Prediction</title>
</head>
<body>
    <h2>Wine Cultivar Origin Prediction</h2>

    <form method="POST">
        <input name="alcohol" placeholder="Alcohol" required><br>
        <input name="malic_acid" placeholder="Malic Acid" required><br>
        <input name="alcalinity_of_ash" placeholder="Alcalinity of Ash" required><br>
        <input name="total_phenols" placeholder="Total Phenols" required><br>
        <input name="color_intensity" placeholder="Color Intensity" required><br>
        <input name="proline" placeholder="Proline" required><br><br>

        <button type="submit">Predict</button>
    </form>

    {% if prediction %}
        <h3>Prediction: {{ prediction }}</h3>
    {% endif %}
</body>
</html>
